<nav class="mb-1 navbar navbar-expand-lg navbar-light navbar-background orange lighten-1 sticky-top">
    <!-- Modal -->
    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Products Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">Min. Price</div>
                                <div class="col-6">{{productsFilter.minPrice | currency}}</div>
                            </div>
                            <div class="row mt-3">
                                <input type="range" data-ng-model="productsFilter.minPrice" class="custom-range" min="0" max="999" step="1" id="minRange">
                            </div>

                            <div class="row mt-3">
                                <div class="col-6">Max. Price</div>
                                <div class="col-6">{{productsFilter.maxPrice | currency}}</div>
                            </div>
                            <div class="row mt-3">
                                <input type="range" data-ng-model="productsFilter.maxPrice" class="custom-range" min="0" max="999" step="1" id="maxRange">
                            </div>
                            <div class="row mt-5">
                                <div class="col-6 text-left">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-ng-click="clearFilter()">Clear Filter</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="applyFilter()">Apply Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- NavBar -->
    <a class="navbar-brand" data-ng-href="cart"><i class="fas fa-shopping-cart"></i>
        <span class="badge badge-notify rounded-circle text-light">{{numOfCartItems}}</span></a>

    <a class="navbar-brand" data-ng-href="home">eShop.Com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar">
                <a class="nav-link p-0" ng-href="#">
                    <img data-ng-src="../../../assets/img/profile.png" class="rounded-circle z-depth-0"
                         alt="avatar image" height="35">
                </a>
            </li>
            <li class="nav-item dropdown">
                <a data-ng-href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">{{username}}</a>

                <div class="dropdown-menu dropdown-menu-right dropdown-info"
                     aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" data-ng-href="home">Home</a>
                    <a class="dropdown-item" data-ng-href="#" data-toggle="modal" data-target="#modalId">Filter</a>
                    <a class="dropdown-item" data-ng-href="#">Sync</a>
                    <a class="dropdown-item" data-ng-href="login" data-ng-click="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>


</nav>

