[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*body:has(#login){*/
/*    background-color: #7CD176;*/
/*}*/

.login {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.toast-top-right {
    top: 50px;
}

.badge-notify {
    background: red;
    position: relative;
    top: 15px;
    left: -20px;
    width: 25px;
    height: 25px;
    border: white 2px solid;
}

.navbar-background {
    background-color: #EDEDED;
}

a.text-decoration-none {
    color: black;
}

a.text-decoration-none:hover {
    color: black;
}

.carousel-inner img {
    margin: 0 auto;
}

.modal-backdrop {
    display: none;
}

.modal {
    background: rgba(0,0,0,0.5);
}
